/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
}

/* 이미지 섹션 */
.image-view img {
    width: 100%;
    height: 95%;
    aspect-ratio: 12 / 8;
    object-fit: cover;
    margin-bottom: 15px;
}


/* 정보 섹션 */
.info-child,
.comment-view {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* 타이틀 스타일 */
h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
}

/* 추가적인 요소들에 대한 스타일 */
.info-child article,
.info-child ul,
.comment-view p {
    color: #666;
    font-size: 0.95rem;
}

/* 반응형 디자인 */
@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-view {
        grid-column: span 2;
    }
}

@media (min-width: 992px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    .image-view {
        grid-column: span 3;
    }
}